$primary: #7c5dfa;
$primary_active: #9277ff;
$warning: #ec5757;
$warning_active: #9277ff;
$bg_light: #f8f8fb;
$bg_dark: #141625;
$bg_nav: #373b53;

$subtitle_light: #888eb0;

$lowlight_light: #7e88c3;
