header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  & .__header {
    margin-bottom: 0;
  }

  & .__sub-header {
    color: $subtitle_light;
  }
}
