header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  @include themed() {
    color: t("text");
  }

  & .__header {
    margin-bottom: 0;
  }

  & .__sub-header {
    @include themed() {
      color: t("subtitle");
    }
  }
}
