main {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

@media screen and (min-width: 768px) {
  main {
    padding: 48px;
  }
}

@media screen and (min-width: 1280px) {
  main {
    margin: 0 auto;
    min-width: 730px;
  }
}
