#nav {
  display: flex;
  justify-content: space-between;
  background: $bg_nav;
  height: 72px;
  overflow: hidden;

  & .utilities {
    display: flex;
  }
}

#home {
  position: relative;
  height: 72px;
  width: 72px;
  border-radius: 0 20px 20px 0;
  background-color: $primary;
  overflow: hidden;

  & img {
    position: relative;
    z-index: 1;
  }

  & div {
    position: absolute;
    top: 50%;
    height: 100%;
    width: 100%;
    background-color: $primary-active;
    border-radius: 20px 0 0 20px;
  }
}

#avatar {
  padding: 20px 25px;
  border-left: 1px solid #494e6e;

  & img {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}

#theme-select {
  padding: 26px 31.5px;
  fill: #7e88c3;

  & svg {
    height: 20px;
    width: 20px;
    cursor: pointer;

    &:hover {
      fill: #dfe3fa;
    }
  }
}

@media screen and (min-width: 768px) {
  #nav {
    height: 80px;
  }

  #home {
    height: 80px;
    width: 80px;
  }

  #avatar {
    padding: 24px 30px;
  }

  #theme-select {
    padding: 30px 31.5px;
  }
}

@media screen and (min-width: 1280px) {
  #nav {
    flex-direction: column;
    height: auto;
    width: 103px;
    border-radius: 0 20px 20px 0;

    & .utilities {
      flex-direction: column;
    }
  }

  #home {
    height: 103px;
    width: 103px;
  }

  #avatar {
    border-left: none;
    border-top: 1px solid #494e6e;

    & img {
      height: 40px;
      width: 40px;
    }
  }

  #theme-select {
    padding: 27.5px 41.5px;
  }
}
