@import "./btn";
@import "./colors";
@import "./color-themes";
@import "./header";
@import "./invoice";
@import "./invoice-container";
@import "./main";
@import "./nav";
@import "./pill";
@import "./type";

* {
  box-sizing: border-box;
}

.root {
  @include themed() {
    background-color: t("bg");
  }

  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .root {
    flex-direction: row;
  }
}
