@import "./btn";
@import "./colors";
@import "./header";
@import "./invoice";
@import "./invoice-container";
@import "./main";
@import "./nav";
@import "./pill";
@import "./type";

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  background-color: $bg_light;
  height: 100vh;
}

body {
  margin: 0;
}

@media screen and (min-width: 1280px) {
  #app {
    flex-direction: row;
  }
}
